@charset "UTF-8";

/*

tudo em HTML que for "id" -- em CSS é "#"(pode só um elemento)

tudo em HTML que for "class" -- em CSS é "." (vários elementos)

*/

body{
    background-color: #dfb8f8;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}

h1{
    color: #793c9e;
}

h1#principal{
    text-align: center;
    background-color: #4e266e;
    color: white;
}

h2{
    color: rgb(167, 102, 228);
}

.basico{
    color: rgb(54, 24, 226);
    font-weight: bold;
}

.intermediario{
    color: rgb(121, 9, 9);
}

.avancado{
    color: rgb(139, 139, 0);
}

.destaque{
    background-color: rgb(210, 173, 245);
    text-align: center;
}