@charset "UTF-8";

*{
    /*height: 100%;*/
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to right, #4D5DBF,#343D73 )
}

main{
    background-color: white;
    box-shadow: 5px 5px 15px #273274;
    border-radius: 10px;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    color: #552448;
    text-align: center;
    text-shadow: 1px 1px 2px #5015409d;
}

h2{
    color: #5fa193;
}

p{
    text-align: justify;
}